---
# Copyright 2018, Logan Vig <logan2211@gmail.com>
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

- name: Add extra paths to environment
  lineinfile:
    dest: /etc/environment
    state: present
    backrefs: yes
    regexp: 'PATH=(["]*)((?!.*?{{ item }}).*?)(["]*)$'
    line: 'PATH=\1{{ item }}:\2\3'
  with_items: "{{ image_extra_environment_paths }}"
  tags:
    - image-custom-environment

- name: Set custom scripts to run on boot
  lineinfile:
    dest: /etc/rc.local
    line: "{{ item }}"
    insertbefore: '^exit 0'
    state: present
  with_items: "{{ image_bootup_scripts }}"
  tags:
    - image-custom-bootup-scripts

- name: Create custom scripts bin directory
  file:
    path: "{{ image_custom_scripts_path }}/bin"
    state: directory
    owner: root
    group: root
    mode: "0755"
  tags:
    - image-custom-bootup-copy

- name: Copy custom scripts to image
  copy:
    src: "{{ item }}"
    dest: "{{ image_custom_scripts_path }}/bin/{{ item | basename }}"
    owner: root
    group: root
    mode: "0755"
  with_fileglob:
    - "custom_scripts/*"
  tags:
    - image-custom-bootup-copy

- name: Set liveboot build fact
  local_action:
    module: command
    args: "git -C {{ playbook_dir }} log -n1"
  register: liveboot_git_fact

- name: Drop image build time
  template:
    src: "build_tag.j2"
    dest: "{{ image_custom_scripts_path }}/img_build"
    owner: root
    group: root
    mode: "0644"
  tags:
    - image-custom-buildtime
