---
# Copyright 2018, Logan Vig <logan2211@gmail.com>
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

- name: Prevent services from starting upon install in chroot
  copy:
    content: "exit 101\n"
    dest: /usr/sbin/policy-rc.d
    owner: root
    group: root
    mode: "0755"
  tags:
    - image-chroot-services-stop

- name: Prevent upstart services from starting in chroot
  command: dpkg-divert --local --rename --add {{ item }}
  changed_when: false
  with_items:
    - /sbin/initctl
    - /usr/sbin/service
  tags:
    - image-chroot-services-stop

- name: Link /bin/true to initctl as fake upstart
  file:
    src: /bin/true
    dest: "{{ item }}"
    owner: root
    group: root
    state: link
  with_items:
    - /sbin/initctl
    - /usr/sbin/service
  tags:
    - image-chroot-services-stop
