---
# Copyright 2018, Logan Vig <logan2211@gmail.com>
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

image_dir: "{{ ansible_host }}"
image_initrd_compression: xz

#allow user to define additional modules
image_initrd_kernel_modules: []
image_initrd_kernel_modules_extra: []

image_kernel_module_options:
  bonding:
    mode: 802.3ad
    miimon: 100
    lacp_rate: fast
    xmit_hash_policy: layer3+4

image_linux_kernel: linux-generic
image_kernel_packages:
  - "{{ image_linux_kernel }}"
  - "{{ image_linux_kernel | replace('linux-', 'linux-tools-') }}"
  - intel-microcode
  - initramfs-tools
  # Used to support additional overlay filesystems
  - xfsprogs
  - "{{ (ansible_distribution_version is version('20.04', '>=')) |
        ternary('btrfs-progs', 'btrfs-tools') }}"

image_intel_microcode_scancpu: no

image_initramfs_hooks:
  - name: liveboot-conf
    src: initramfs-hook-liveboot
  - name: resolv-conf
    src: initramfs-hook-dns-conf

image_initramfs_scripts:
  - name: init-bottom/10-target_network
  - name: init-bottom/20-target_hostname
  - name: init-bottom/25-target_addl_networks
  - name: init-premount/10-bonding_init
  - name: init-premount/20-networking_setup
  - name: init-premount/25-fetch_rootfs
  - name: live.sh
    dest: live

dkms_builds: []
#  - module: ixgbe
#  - module: i40e

#build ixgbe/i40e kernel module from dkms (needed sometimes for newer hardware)
image_ixgbe_version: 5.3.6
image_ixgbe_sha256: 6ba26de1bb9b55b92f5f54c6c7b25f837323ec3322a6ee54e882c8e54e6d0eaa
image_ixgbe_url: "http://downloads.sourceforge.net/project/e1000/ixgbe%20stable/{{ image_ixgbe_version }}/ixgbe-{{ image_ixgbe_version }}.tar.gz"

image_i40e_version: 2.4.3
image_i40e_sha256: 5596ed536dc8195fc86e03f998a4e613281736b8e4f97edb0212316e19e18e79
image_i40e_url: "http://downloads.sourceforge.net/project/e1000/i40e%20stable/{{ image_i40e_version }}/i40e-{{ image_i40e_version }}.tar.gz"

image_chelsio_firmware: true
image_chelsio_firwmare_files:
  - src: chelsio/t5fw-1.16.63.0.bin
    dest: "/lib/firmware/{{ kernel_version }}/cxgb4/t5fw.bin"
  - src: chelsio/t5-config.txt
    dest: "/lib/firmware/cxgb4/t5-config.txt"
