---
# Copyright 2018, Logan Vig <logan2211@gmail.com>
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

image_timezone: "US/Central"
image_disable_local_syslog: true
image_ssh_keys: []
image_users: []
image_network_interfaces: []
#usually not needed as initrd will handle this for us
#  - name: bond0
#    proto: inet
#    type: dhcp
#  - name: bond1
#    proto: inet
#    type: dhcp
#    options:
#      post-up: "{{ image_custom_scripts_path }}/bin/if-post-up-source-route"

image_limits_fopen: 1000000
image_pam_limits:
  - domain: '*'
    limit_type: hard
    limit_item: nofile
    value: "{{ image_limits_fopen }}"
  - domain: '*'
    limit_type: soft
    limit_item: nofile
    value: "{{ image_limits_fopen }}"
  - domain: root
    limit_type: hard
    limit_item: nofile
    value: "{{ image_limits_fopen }}"
  - domain: root
    limit_type: soft
    limit_item: nofile
    value: "{{ image_limits_fopen }}"

image_kernel_options:
  #ceph recs (url please)
  - { key: "kernel.pid_max", value: "4194303" }
  - { key: "net.nf_conntrack_max", value: "4194304" }
  #some settings for network interfaces
  # Increase Linux autotuning TCP buffer limits
  # Set max to 16MB for 1GE and 32M (33554432) or 54M (56623104) for 10GE
  # Don't set tcp_mem itself! Let the kernel scale it based on RAM.
  - { key: "net.core.rmem_max", value: "134217728" }
  - { key: "net.core.wmem_max", value: "134217728" }
  - { key: "net.core.rmem_default", value: "67108864" }
  - { key: "net.core.wmem_default", value: "67108864" }
  - { key: "net.core.optmem_max", value: "134217728" }
  - { key: "net.ipv4.tcp_rmem", value: "4096 87380 67108864" }
  - { key: "net.ipv4.tcp_wmem", value: "4096 65536 67108864" }
  # Make room for more TIME_WAIT sockets due to more clients,
  # and allow them to be reused if we run out of sockets
  # Also increase the max packet backlog
  - { key: "net.core.somaxconn", value: "1024" }
  # Increase the length of the processor input queue
  - { key: "net.core.netdev_max_backlog", value: "250000" }
  - { key: "net.ipv4.tcp_max_syn_backlog", value: "30000" }
  - { key: "net.ipv4.tcp_max_tw_buckets", value: "2000000" }
  - { key: "net.ipv4.tcp_tw_reuse", value: "1" }
  - { key: "net.ipv4.tcp_tw_recycle", value: "1" }
  - { key: "net.ipv4.tcp_fin_timeout", value: "10" }
  # Disable TCP slow start on idle connections
  - { key: "net.ipv4.tcp_slow_start_after_idle", value: "0" }
  # If your servers talk UDP, also up these limits
  - { key: "net.ipv4.udp_rmem_min", value: "8192" }
  #recommended when jumbo frames are enabled
  - { key: "net.ipv4.tcp_mtu_probing", value: "1" }

image_custom_scripts_path: /opt/liveboot

image_bootup_scripts:
  - "{{ image_custom_scripts_path }}/bin/bootup"

image_extra_environment_paths:
  - "{{ image_custom_scripts_path }}/bin"

image_manual_start_services:
  - cgroup-lite

image_fstab: []
#  - src: LABEL=STORAGE
#    dest: /mnt/storage
#    fstype: xfs
#    opts: 'noatime,largeio,inode64,swalloc'
#  - src: /mnt/storage/nova
#    dest: /var/lib/nova
#    fstype: none
#    opts: 'bind'

image_apparmor_attach_disconnected: []
#  - profile_name: libvirt/TEMPLATE.qemu
#    exec_name: LIBVIRT_TEMPLATE
#  - profile_name: usr.lib.libvirt.virt-aa-helper
#    exec_name: /usr/lib/libvirt/virt-aa-helper
#  - profile_name: usr.sbin.libvirtd
#    exec_name: /usr/sbin/libvirtd
#  - profile_name: usr.sbin.ntpd
#    exec_name: /usr/sbin/ntpd
