# {{ ansible_managed }}

{% for item in image_fstab %}
{{ item.src }} {{ item.dest }} {{ item.fstype }} {{ item.opts | default('defaults') }} {{ item.dump | default('0') }} {{ item.pass | default('0') }}
{% endfor %}
